.fullbanner
    @media(max-width: 992px)
        padding-top: 110px
    .slick-arrow
        display: none!important
    .fullbanner__item
        display: block!important
    img
        display: block
        @media(max-width: 992px)
            display: block
            position: relative
            width: 170%
            min-width: 100%
            max-width: none
            left: 50%
            transform: translateX(-50%)
        
.menu__topo
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    @media(max-width: 992px)
        display: none