.single
    &__navcat
        border-bottom: 1px solid #f1f0f5
    &__thepost
        &-container
            margin-top: 70px
        &-thumb
            display: block
            border-radius: 38px
            box-shadow: 9px 9px 10px 0 rgba(0, 0, 0, 0.06)
            background-color: #252525
        &-title
            font-family: Roboto
            font-size: 35px
            font-weight: normal
            font-style: normal
            font-stretch: condensed
            line-height: 1.11
            letter-spacing: normal
            color: #252525

        &-content
            & , & > p
                font-family: Roboto
                font-size: 19px
                font-weight: normal
                font-style: normal
                font-stretch: condensed
                line-height: 1.42
                letter-spacing: normal
                color: #8f8f8f
                margin-top: 20px
                margin-bottom: 50px
            & h2 
                font-family: Roboto
                font-size: 35px
                font-weight: normal
                font-style: normal
                font-stretch: condensed
                line-height: 1.11
                letter-spacing: normal
                color: #252525
            & img 
                display: block
                border-radius: 38px
                box-shadow: 9px 9px 10px 0 rgba(0, 0, 0, 0.06)
                background-color: #252525
                margin-bottom: 50px
                &[align=left]
                    margin-right: 100px
                &[align=right]
                    margin-left: 100px                    
    &__post        
        &-stick
            display: flex
            flex-flow: column
            justify-content: flex-start
            align-items: center
            position relative
            z-index: 3
            padding-top: 120px
            padding-bottom: 120px
            text-align: center
        &-title
            font-family: Roboto
            font-size: 35px
            font-weight: normal
            font-style: normal
            font-stretch: condensed
            line-height: normal
            letter-spacing: normal
            text-align: center 
            color: #ffe700
        &-singlecat
            font-family: Roboto
            font-size: 16px
            font-weight: normal
            font-style: normal
            font-stretch: condensed
            line-height: normal
            letter-spacing: normal
            text-align: center
            color: #ffffff
        &-content
            margin-bottom: 30px
            & , & p
                font-family: Roboto
                font-size: 20px
                font-weight: normal
                font-style: normal
                font-stretch: condensed
                line-height: normal
                letter-spacing: normal
                text-align: center
                color: #ffffff