.ajudahome
    padding-top: 70px
    padding-bottom: 70px
    margin-top: 200px
    &__title
        padding-right: 0 !important
        align-self: center
        & h1 
            font-weight: 300
            color: #FFDE14
            letter-spacing: -0.6px
            line-height: 33px
        & small 
            color #8F8F8F
            letter-spacing 0
    &__item
        display: flex
        flex-flow: row wrap
        justify-content: flex-start
        align-items: flex-start
        & figure 
            width 22px
            height 22px
            background transparent url('../../img/question.svg') no-repeat center center 
            background-size: cover
            margin-right: 7px
        & > a 
            display: inline-block
            flex 1
            & h6 
                font-weight: 400
                font-size: 18px
                color: #FFFFFF
                letter-spacing: 0
                line-height: 21px
                transition: color 400ms
                &:hover
                    color: #FFDE14
            & small 
                transition: color 400ms
                &:hover
                    color: #FFDE14
        & article 
            width: 100%
            display: inline-block
        & small 
            margin-left: -29px
            display: block
