.whatsgreen-ico
    &:before
        content: url('')
.footer
    padding-top: 25px
    padding-bottom: 25px
    &__copytext
        font-family: Roboto 
        font-weight: 400
        font-size: 13px
        color: #8F8F8F
        letter-spacing: 0
    &__rodape
        font-family: Roboto 
        font-weight: 400
        font-size: 16px
        color: #FFDE14
        letter-spacing: 0
        text-align: center
        border-top 1px solid #202020
        padding-top: 25px
        margin-top: 25px
    &__contactlinks
        display: flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center
        margin-left: -25px
        margin-right: -25px
        margin-bottom: 0
        vertical-align: middle
        & , & a
            font-family: Roboto
            font-weight: 400
            font-size: 13px
            color: #FFFFFF
            letter-spacing: 0
        & > li 
            margin: 0 25px
    &__socials
        display: inline-block
        display: flex
        flex-flow: row nowrap
        justify-content: flex-start
        align-items: center
        margin: 0
        padding: 0
        & > li 
            margin: 0 5px
            display: inline-block
            flex 0 0 35px
            height 35px
            & a 
                display: inline-block
                height 100%
                width: 100%
                color: #FFFFFF
                text-decoration: none
                &:hover
                    color: #FFDE14
                & > span 
                    height 35px
                    width: 35px
                    display: inline-block
                    vertical-align: middle
                    font-size: 35px
        &-container
            display: flex
            flex-flow: row nowrap
            justify-content: flex-start
            align-items: center
    & .media-body
        font-family: Roboto 
        font-weight: 400
        font-size: 13px
        color: #8F8F8F
        letter-spacing: 0
        display: flex
        flex-flow: column nowrap
        justify-content: space-between
        align-items: flex-start
        height 50px
    & h4 
        margin-bottom: 10px
        & , a 
            font-family: Roboto 
            font-weight: 400
            line-height: 1
            font-size: 16px
            color: #FFDE14
            letter-spacing: 0
            text-align: left            
    &__postlist
        & h5 
            font-family: Roboto 
            font-weight: 400
            font-size: 13px
            color: #FFFFFF
            letter-spacing: 0
            & a
                color: #FFFFFF
                &:hover
                    color: #FFDE14
        & li 
            margin-bottom: 16px
        & img 
            border-radius: 10px
    &__menu
        display: flex
        flex-flow: row nowrap
        justify-content: flex-start
        align-items: flex-start
        & > ul
            flex: 0 0 100%
            display: flex
            flex-flow: row nowrap
            justify-content: space-between
            align-items: flex-start
            margin 0
            padding 0
            font-family: Roboto
            font-weight: 400
            font-size: 13px
            color: #FFFFFF
            letter-spacing: 0
            line-height: 14px
            & a 
                color: #FFFFFF
                &:hover
                    color: #FFDE14
            & > li
                flex: 0 0 auto
                &  > a 
                    color: #FFDE14
                    font-size: 16px
                & > ul 
                    margin: 0
                    margin-top: 10px
                    padding: 0
                    display: flex
                    flex-flow: column nowrap
                    justify-content: flex-start
                    align-items: flex-start
                    & > li 
                        margin-bottom: 7px;
.archive
    &__list
        position: relative
        z-index: 4
    &__item
        margin: 0 15px
        width: auto
        height: 105px
        border-radius: 20px
        background-color: rgba(37, 37, 37, 0.7)
        padding: 25px
        display: flex
        flex-flow: column nowrap
        justify-content: center
        font-family: Roboto
        font-size: 18px
        font-weight: normal
        font-style: normal
        font-stretch: condensed
        line-height: normal
        letter-spacing: normal
        text-align: center
        color: #ffffff
        align-items: center
        & figure 
            width: 36px
            height 36px
            margin: 0 auto
            margin-bottom: 20px