.newsletter__home
    background: #F5F5F5
    padding: 30px
    margin-top: 30px
    @media (max-width:1199px)
        width: 100%;
        flex: 0 0 100%;
        max-width: none!important;
        text-align: center;
    .wysija-paragraph
        input
            width: 300px
            height: 45px
            background-color: #fff
            padding-left: 20px
            color: #9B9B9B
            border: 1px solid #D5D5D5
            font-style: normal!important
            @media (max-width:425px)
                width: 230px
            &::placeholder
                font-style: normal!important
    .wysija-submit-field
        background-image: radial-gradient(20% 180%, #ff9b36 0%, #f37d3f 100%)
        color: #ffffff
        font-size: 16px
        font-weight: bold
        text-transform: uppercase
        border-radius: 4px
        border-color: transparent
        margin-top: 10px
        font-family: "Montserrat"!important
    .newsletter
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 15px
        .titulo__news
            max-width: 205px
            padding-left: 10px
            .titulo__news--1
                color: #605F5F
                font-size: 26px
                font-weight: 500
            .titulo__news--2
                color: #97B634
                font-size: 30px
                font-weight: bold
                margin-top: -10px;
                display: block;
