/**
 * APP Default
 */

/**
 * Core
 */
@import "core/reset"
@import "core/variables"
@import "core/mixins"
@import "core/functions"
@import "core/default"
@import "core/dicas"
@import "core/archive"

/**
 * Components
 */

@import "components/header"
@import "components/footer"
@import "components/showcase"
@import "components/newsletter"
@import "components/search-form"
@import "components/depoimentos"
@import "components/ajuda"
@import "components/category"
/**
 * Pages
 */

@import "pages/home"
@import "pages/index"
@import "pages/sobre-nos"
@import "pages/servicos"
@import "pages/portfolio"
@import "pages/projetos"
@import "pages/contato" 
@import "pages/single" 
@import "pages/blog" 
@import "pages/page" 
