html
    & > body 
        background-color: #171713
        &.login
            & #backtoblog
                & > a
                    font-family: Open Sans
                    font-style: normal
                    font-weight: normal
                    font-size: 15px
                    line-height: 20px
                    color: #FFFFFF
            & #nav
                font-size: 0
                & > a
                    font-family: Open Sans
                    font-style: normal
                    font-weight: normal
                    font-size: 15px
                    line-height: 20px
                    color: #FFFFFF
                    &:first-child
                        display: block
                        margin 0 auto
                        background: #FFFFFF
                        border: 1px solid #7D7D7D
                        box-sizing: border-box
                        border-radius: 3px
                        height 40px
                        text-align: center
                        line-height: 40px
                        font-family: Open Sans
                        font-style: normal
                        font-weight: normal
                        font-size: 15px
                        color: #252525
                        margin-bottom: 30px
                        &:hover
                            background: #E6E6E6
            & #login
                & h1
                    & > a 
                        width: 139px
                        background transparent url('../../img/protegitlogo.png') no-repeat center center
            & #loginform
                background: transparent
                border: 0
                outline: none
                & label 
                    font-family: Open Sans
                    font-style: normal
                    font-weight: normal
                    font-size: 14px
                    line-height: 19px
                    color: #FFFFFF
                    & input 
                        &:not([type=checkbox])
                            height 36px
                            background: #222222
                            border: 1px solid #393939
                            box-sizing: border-box
                            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.197279)
                        &[type=checkbox]
                            width: 16px
                            height 16px
                            background: #222222
                            border: 1px solid #393939
                            box-sizing: border-box
                            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.197279)



                