.taxonomy
    z-index: 3
    position relative
    margin-top: 45px
    &__description
        color: #FFFFFF
        & h6 
            font-family: Roboto
            font-size: 16px
            font-weight: normal
            font-style: normal
            font-stretch: condensed
            line-height: normal
            letter-spacing: normal
            text-align: center
            color: #ffffff
        & h2
            & , & > p
                font-family: Roboto;
                font-size: 35px
                font-weight: normal
                font-style: normal
                font-stretch: condensed
                line-height: normal
                letter-spacing: normal
                text-align: center
                color: #ffde14
        & p 
            font-family: Roboto
            font-size: 20px
            font-weight: normal
            font-style: normal
            font-stretch: condensed
            line-height: normal
            letter-spacing: normal
            text-align: center
            color: #ffffff

